/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  display: none;
  /* по умолчанию скрыт */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #ff6f61;
  /* цвет "активного" сегмента */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1000;
}

.loader.is-shown {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}